$bgc: #282c34; //默认背景色
$typefaceColor: #929292; //默认字体颜色
.common-layout {
  background-color: $bgc;
  color: $typefaceColor;
}
//左侧树
:deep(.el-tree) {
  background-color: $bgc;
  :hover {
    background-color: $bgc;
  }
}
:deep(.el-tree--highlight-current
    .el-tree-node.is-current
    > .el-tree-node__content) {
  background-color: $bgc;
}
:deep(.el-dropdown) {
  color: $typefaceColor;
}
:deep(.el-dropdown-menu) {
  background-color: $bgc;
}
//编辑器
:deep(.ͼo) {
  background-color: $bgc;
}
:deep(.ͼo .cm-activeLine) {
  background-color: $bgc;
}
:deep(.ͼo .cm-gutters) {
  background-color: $bgc;
}
:deep(.ͼ3 .cm-activeLineGutter) {
  background-color: $bgc;
}
//编辑器滑动条样式****
:deep(.cm-scroller::-webkit-scrollbar-thumb) {
  /*滚动条里面小方块样式*/
  background-color: $bgc;
}
:deep(.cm-scroller::-webkit-scrollbar-track) {
  /*滚动条里面轨道样式*/
  background: $bgc;
}
//终端
.terminal-class {
  background-color: $bgc;
  color: #929292;
}
.terminal-action-contenteditable {
  background-color: $bgc;
  color: #b2b2b2;
}
//终端滑动条样式
.terminal-app::-webkit-scrollbar-thumb {
  /*滚动条里面小方块样式*/
  background-color: $bgc;
}
.terminal-app::-webkit-scrollbar-track {
  /*滚动条里面轨道样式*/
  background: $bgc;
}
